{% extends 'head_extends_base.html.twig' %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block contenu %}
    <div class="encart liens">
        <h2>Administrer</h2>
        {% include 'tableau_de_bord/action_admin.html.twig' %}
        {% include 'tableau_de_bord/entite_admin.html.twig' %}
        {% include 'tableau_de_bord/culture_admin.html.twig' %}
        {% include 'tableau_de_bord/recolte_admin.html.twig' %}
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/tableau_de_bord.css">
{% endblock %}