<h2>Poids des récoltes 2018 (kg)</h2>
<table>
        <tr><th>total</th>{% for titre in recoltes2018[0] %}<th>{{ titre }}</th>{% endfor %}</tr>
    {% for cle, recolte in recoltes2018 %}
        {% if cle is not same as(0) %}
        <tr>
        {% for titre in recoltes2018[0] %}
            {% if titre == null %}<td class="ta_right">{{ attribute(recolte, 'total') }}</td><th class="ta_right">{{ cle }}</th>{% else %}<td class="ta_right">{% if attribute(recolte, titre|trim('0', 'left')) is defined %}{{ attribute(recolte, titre|trim('0', 'left')) }} {% endif %}{% endif %}</td>
        {% endfor %}
        </tr>
        {% endif %}
    {% endfor %}
</table>