<h2>Poids des récoltes 2019 (kg)</h2>
<table>
    <thead>
        <tr>{% for titre in recoltes2019[0] %}<th>{{ titre }}</th>{% endfor %}</tr>
    </thead>
    <tbody>
    {% for cle, recolte in recoltes2019 %}
        {% if cle is not same as(0) %}
        <tr>
        {% for titre in recoltes2019[0] %}
            {% if titre == null %}<th>{{ cle }}</th>{% else %}<td>{% if attribute(recolte, titre) is defined %}{{ attribute(recolte, titre) }} {% endif %}{% endif %}</td>
        {% endfor %}
        </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>